@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
	background: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	font-smoothing: antialiased;
	overflow-scrolling: touch;

	margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #f85c37;
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding: 15px 0;
}

.navbar-inverse {
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: #ff7878;
}

.navbar-inverse .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

#headerwrap {
	background: url('../img/header-bg.jpg') no-repeat;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	background-size: 100%;

	background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 40px;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.w {
	padding-top: 35px;
}

.w h4 {
	font-size: 25px;
}

#dg {
	background: #e0e0e0;
	padding: 70px 0;
}

#dg h4 {
	font-size: 40px;
}

.tilt {
	transition: all 0.5s ease;
}

.tilt:hover {
	transform: rotate(-10deg);
}

.wb {
	padding-top: 35px;
}

.wb h4 {
	font-size: 35px;
}

#lg {
	background: #ebebeb;
	padding: 70px 0;
}

#lg h4 {
	font-size: 45px;
}

#r {
	background: #ff7878;
	padding: 70px 0;
}

#r h4 {
	color: white;
	font-size: 30px;
}

#r p {
	color: white;
}

#f {
	background: #2d2d2d;
	padding: 20px 0;
}

#f i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 0 20px;
}

#f i:hover {
	color: #ff7878;
}